@import '../variables/_variables.scss';

.Badge-presentation {
    padding:10px 0px;
    font-size: map-get($font-size--px, max);
    &__title {
        font-weight: 800;
        font-size: map-get($font-size--title, medium);
    }
}

.Badge-form {
    padding:10px 0px;
    font-size: map-get($font-size--px, medium);
    &__block {
        padding:3px 0px;
        .Badge-form__label {
            font-weight: map-get($font-weight, regular);
            font-size:map-get($font-size--text, medium);
        }
        .Badge-form__input {
            font-weight: map-get($font-weight, regular);
            font-size:map-get($font-size--text, min);
        }
    }
    &__block {
        .Badge-form__button {
            @extend .Badge-form__label;
            &:hover {
                opacity:0.9;
            }
        }
    }
}