@import '../variables/_variables.scss';

.Presentation {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding:0px;
    background: url('../../images/stars.svg'), #1b1b25;
    
    &__row{
        align-items: center;
        padding:0px;
        .Presentation-background {
            display: flex;
            justify-content: center;
            margin:auto;
            padding:0px;

            &__img {
                max-width: 300px;
                width: 100%;
            }
        }
        .Presentation-content {
            font-size: 17px;
            
            &__title {
                font-weight: map-get($font-weight, extra-bold);
                font-size: map-get($font-size--title, max);
                color:white;
            }
            &__info {
                padding: 10px 0px;
                font-size: map-get($font-size--px, medium+1);
               .Presentation-content__text {
                    font-weight: map-get($font-weight, regular);
                    font-size: map-get($font-size--text, max);
                    color:white;
                }
                .Presentation-content__btn{
                    font-weight: map-get($font-weight, regular);
                    font-size:map-get($font-size--text, medium);
                    color:white;
                    &:hover {
                        opacity:0.9;
                    }
                }
            }
        }

        .Presentation-recents {
            margin:10px 0px;
            padding:0px;
            font-size: map-get($font-size--px, min+2);
            &__title{
                font-weight: map-get($font-weight, bold);
                font-size: map-get($font-size--title, max);
                color:white;
            }
            .Card {
                display:flex;
                align-items: center;
                text-align: start;
                width:100%;
                margin:20px 0px;
                max-width: 400px;      
                box-sizing: border-box;
                border-radius: 5px;
                overflow: hidden;
                background-color: #1C3643;
                &:hover {
                    opacity:0.7;
                }
                &__img {
                    display:flex;
                    align-items: center;
                    justify-content: space-around;
                    width:30%;
                    height: 100%;
                    margin:0px 10px;
                    .Card__avatar {
                        max-width:90px;
                        width:100%;
                        border-radius:50%;
                    }
                }
                &__info {
                    display:flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width:70%;
                    height:100%;
                    line-height: 30px;
                    padding:15px 0px;
                    font-size: map-get($font-size--px, medium+2);
                    .Card__title-primary {
                        font-weight: map-get($font-weight, bold);
                        font-size:map-get($font-size--title, min);
                        color:white;
                    }
                    .Card__title-secondary{
                        font-weight:map-get($font-weight, medium);
                        font-size:map-get($font-size--text, medium);
                        color:white;
                    }
                    .Card__text {
                        font-weight: map-get($font-weight, regular);
                        font-size:map-get($font-size--text, min);
                        color:white;
                    }
                }
            }
        }
    }
}