@import '../variables/_variables.scss';

.Redirection {
    width: 100%;
    padding: 40px 0px;
   
    .Redirection-row {
        &__text {
            display:flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            font-size: map-get($font-size--px, min);
            .Redirection-row__title {
                font-weight:map-get($font-weight, bold);
                font-size:map-get($font-size--title, medium);
                margin:0px 20px;
                color:white;
            }
            .Redirection-row__button {
                @extend .Redirection-row__title;
                &:hover {
                    opacity:0.9;
                }
            }
        }
    }
}