@import '../variables/variables.scss';

.title {
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size--title, max);
}
.Actions {
    display:Flex;
    justify-content: center;
    margin: 30px 20px;
    &__edit {
        margin: 0px 20px;
        .Actions__button {
            font-weight: map-get($font-weight, regular);
            font-size:map-get($font-size--text, min);
            &:hover {
                opacity: 0.8;
            }
        }
    }
    &__delete{
        margin: 0px 20px;
        .Actions__button {
            font-weight: map-get($font-weight, regular);
            font-size:map-get($font-size--text, min);
            &:hover {
                opacity:0.9;
            }
        }
    }
}