@import '../variables/variables.scss';

h2 {
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size--title, max);
}
.actions {
    display:Flex;
    justify-content: center;
    margin: 30px 20px;
    .actions__edit {
        margin: 0px 20px;
        .btn {
            font-weight: map-get($font-weight, regular);
            font-size:map-get($font-size--text, min);
        }
    }
    .actions__delete{
        margin: 0px 20px;
        .btn {
            font-weight: map-get($font-weight, regular);
            font-size:map-get($font-size--text, min)
        }
    }
}