@import '../variables/variables.scss';

.BackgroundBadge {
    width: 100%;
    padding: 2rem 0;
    margin-bottom: 1rem;
    background: url("../../images/stars.svg"), #1b1b25;
    background-repeat: repeat;
    color: #ffffff;
    .BackgroundBadge-row {
        font-size: 16px;
        &__info {
            .BackgroundBadge-row__title{
                font-weight: map-get($font-weight, bold);
                font-size: map-get($font-size--title, max);
            }
        }
    }
}