@import '../variables/variables.scss';

.Badge {
    width: 100%;
    &__row {
        width: 100%;
        margin-right:0px;
        margin-left:0px;
        .Badge-body {
            background: #ffffff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
            border-radius: 8px 8px 8px 8px;
            overflow: hidden;
            max-height: 400px;
            height: 100%;
            margin:60px 0px;
            padding:0px;
        
            &__background {
                padding: 0.5rem 0;
                height: 80px;
                background: #1b1b25;
                display: flex;
                justify-content: center;
                .Badge-body__img {
                    max-width: 200px;
                    width: 100%;
                    @media screen and (max-width:576px){
                        width:30%;
                    }
                }
        
            }
            &__email {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem 0;
                .Badge-body__avatar {
                    border-radius: 50%;
                    margin-right: 1rem;
                    width: 100%;
                    max-width: 120px;
                    height: 100%;
                    @media screen and (max-width:576px) {
                        width:75%;
                    }
                }
                .Badge-body__title {
                    font-weight: map-get($font-weight, bold);
                    font-size:map-get($font-size--title, max);
                    @media screen and (max-width:576px) {
                        font-size:map-get($font-size--title, min);
                    }
                }
        
            }
            .Badge-body__profesion {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0.5rem 0;
                background: #f4f4f7;
                .Badge-body__text {
                    font-weight: map-get($font-weight, regular);
                    font-size: map-get($font-size--text, medium);
                    @media screen and (max-width:576px) {
                        font-size: map-get($font-size--text, min);
                    }
                }
                .Badge-body__span {
                    font-weight: map-get($font-weight, regular );
                    font-size: map-get($font-size--text, min);
                    @media screen and (max-width:576px) {
                        font-size: map-get($font-size--text, extra-min);
                    }
                }
        
            }
            .Badge-body__platziConf {
                height: 54px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #98ca3f;
                font-weight: bold;
                font-style: italic;
                .Badge-body__text {
                    font-weight: map-get($font-weight, regular);
                    font-size: map-get($font-size--text, min);
                    @media screen and (max-width:576px) {
                        font-size: map-get($font-size--text, extra-min);
                    }
                }
            }
        }
    }
}