@import '../variables/variables.scss';

.Badge-presentation {
    padding:10px 0px;
    &__title {
        font-weight: 800;
    }
}

.Badge-form {
    padding:10px 0px;
    &__block {
        padding:3px 0px;
        .Badge-form__label {
            font-weight: map-get($font-weight, regular);
            font-size:map-get($font-size--text, medium);
        }
        .Badge-form__input {
            font-weight: map-get($font-weight, regular);
            font-size:map-get($font-size--text, min);
        }
    }
    &__button {
        .Badge-form__button {
            font-weight: map-get($font-weight, regular);
            font-size:map-get($font-size--text, regular);
        }
    }
}