@import '../variables/variables.scss';

body {
    .height {
        height: 100vh;
    }
    .Container {
        width:100%;
        font-size: 14px;
        &__filter {
            display:flex;
            justify-content: center;
            color:white;
            font-size:14px;
            .Container__label {
                font-weight: map-get($font-weight, medium);
                font-size: map-get($font-size--text, medium);
            }
            .Container__input {
                font-weight: map-get($font-weight, regular);
                font-size: map-get($font-size--text, min);
                margin-left:20px;
            }
        }
        
        &__notFound {
            display:flex;
            flex-direction: column;
            align-items: center;
            height: 640px;
            font-size: 10px;
            .Container__title {
                font-weight: map-get($font-weight, medium);
                font-size: map-get($font-size--title, medium);
                color:white;        
            }   
            .Container__button {
                font-weight:map-get($font-weight, bold);
                font-size:map-get($font-size--text, medium);
                &:hover {
                    opacity:0.9;
                }
            }
        }

        &__presentation {
            display:flex;
            justify-content: center;
            margin:0px;
            .Card {
                display:flex;
                align-items: center;
                text-align: start;
                max-width: 800px;
                width:100%;
                margin:25px 0px;
                border-radius: 5px;
                box-sizing: border-box;
                overflow: hidden;
                background-color: #1C3643;
                &__img {
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    max-width:50%;
                    width:100%;
                    height: 100%;                   
                    .Card__avatar {
                        max-width:130px;
                        width:100%;
                        border-radius:50%; 
                    }
                }
        
                &__info {
                    display:flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width:70%;
                    height:100%;
                    padding:15px 0px;
                    line-height: 30px;
                    font-size: 15px;
                    .Card__title-primary {
                        font-weight: map-get($font-weight, bold);
                        font-size:map-get($font-size--title, medium);
                        color:white;                    
                    }
                    .Card__title-secondary {
                        font-weight: map-get($font-weight, medium);
                        font-size: map-get($font-size--title, min);
                        color:white;
                    }
                    .Card__text {
                        font-weight: map-get($font-weight, regular);
                        font-size: map-get($font-size--text, min);
                        color:white;
                    }
                }    
            }
        }    
    }
}
