@import '../variables/variables.scss';

body {
    .container {
        width:100%;
        &__filter {
            display:flex;
            justify-content: start;
            color:white;
            .container__label {
                font-weight: map-get($font-weight, medium);
                font-size: map-get($font-size--text, medium);
            }
            .container__input {
                font-weight: map-get($font-weight, regular);
                font-size: map-get($font-size--text, min);
                margin-left:20px;
            }
        }
        
        &__notFound {
            .container__title {
                font-weight: map-get($font-weight, medium);
                font-size: map-get($font-size--title, medium);
                color:white;
            }   
            .container__button {
                font-weight:map-get($font-weight, bold);
                font-size:map-get($font-size--text, medium);
            }
        }
    
        .Card {
            padding:0;
            margin:30px 0px;
            width:100%;
            display: flex;
            justify-content: center;
            padding: 40px 120px; 
            border-radius: 5px;
            background-color: #1C3643;
                
            &__img {
                padding:0;
                margin:auto;
                    img {
                        width:150px;
                    }
            }
    
            &__text {
                .Card__title-primary {
                    color:white;
                    font-weight: map-get($font-weight, bold);
                    font-size:map-get($font-size--title, medium);
                }
                .Card__title-secondary {
                    color:white;
                    font-weight: map-get($font-weight, medium);
                    font-size: map-get($font-size--title, min);
                }
                .Card__text {
                    color:white;
                    font-weight: map-get($font-weight, regular);
                    font-size: map-get($font-size--text, min);
                }
            }
            
        }
    }
}