@import '../variables/variables.scss';

.Error500 {
    width: 100%;
    height:100vh;
    padding:0;
    margin:auto;
    display: flex;
    padding-left:0px;
    padding-right: 0px;
    background-color: white;
    .row {
        margin:auto;
    }
    &__row {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width:100%;
        margin:auto;
        line-height: 60px;
        @media screen and(max-width:320px) and (min-width:0px){
            line-height: normal;
        }
        @media screen and(max-width:480px) and (min-width:320px){
            line-height: normal;
        }
        @media screen and(max-width:768px) and (min-width:480px){
            line-height: normal;
        }
        @media screen and(max-width:1024px) and (min-width: 768px){
            line-height: normal;
        }
        .Error500-content {
            font-size: 16px;
            @media screen and(max-width:320px) and (min-width: 0px){
                font-size:14px;
            }
            @media screen and(max-width:480px) and (min-width: 320px){
                font-size:15px;
            }
            @media screen and(max-width:768px) and (min-width: 480px){
                font-size:15px;
            }
            @media screen and(max-width:1024px) and (min-width: 768px){
                font-size:16px;
            }
            &__background {
                .Error500-content__img {
                    max-width: 600px;
                    width: 100%;
                    @media screen and(max-width:320px) and (min-width:0px){
                        width:70%;
                    }
                    @media screen and(max-width:480px) and (min-width:320px){
                        width:70%;
                    }
                    @media screen and(max-width:768px) and (min-width:480px){
                        width:70%;
                    }
                    @media screen and(max-width:1024px) and (min-width: 768px){
                        width:70%;
                    }
                }
            }
            &__title {
                font-weight: map-get($font-weight, medium);
                font-size: map-get($font-size--title, max);
                @media screen and(max-width:320px) and (min-width:0px){
                    font-size: map-get($font-size--text, medium);
                }
                @media screen and(max-width:480px) and (min-width:320px){
                    font-size: map-get($font-size--text, medium);
                }
                @media screen and(max-width:768px) and (min-width:480px){
                    font-size: map-get($font-size--title, min);
                }
                @media screen and(max-width:1024px) and (min-width: 768px){
                    font-size: map-get($font-size--title, min);
                }
            }
            &__info {
                font-size: 14px;
                @media screen and(max-width:320px) and (min-width: 0px){
                    font-size:10px;
                }
                @media screen and(max-width:480px) and (min-width: 320px){
                    font-size:11px;
                }
                @media screen and(max-width:768px) and (min-width: 480px){
                    font-size:12px;
                }
                @media screen and(max-width:1024px) and (min-width: 768px){
                    font-size:13px;
                }
                .Error500-content__text{
                    font-weight: map-get($font-weight, regular);
                    font-size:map-get($font-size--text, medium);
                    @media screen and(max-width:320px) and (min-width: 0px){
                        font-size:map-get($font-size--text, extra-min);
                    }
                    @media screen and(max-width:480px) and (min-width: 320px){
                        font-size:map-get($font-size--text, extra-min);
                    }
                    @media screen and(max-width:768px) and (min-width: 480px){
                        font-size:map-get($font-size--text, min);
                    }
                    @media screen and(max-width:1024px) and (min-width: 768px){
                        font-size:map-get($font-size--text, min);
                    }
                }
                .Error500-content__button {
                    font-weight: map-get($font-weight, regular);
                    font-size: map-get($font-size--text, medium);
                    margin-bottom:40px;
                    @media screen and(max-width:320px) and (min-width: 0px){
                        font-size:map-get($font-size--text, extra-min);
                    }
                    @media screen and(max-width:480px) and (min-width: 320px){
                        font-size:map-get($font-size--text, extra-min);
                    }
                    @media screen and(max-width:768px) and (min-width: 480px){
                        font-size:map-get($font-size--text, min);
                    }
                    @media screen and(max-width:1024px) and (min-width: 768px){
                        font-size:map-get($font-size--text, min);
                    }
                }
            }
        }
    }
}