.Footer {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    box-sizing: border-box;
    background: url('../../images/stars.svg'), #1b1b25;
    .Footer-row {
        .Footer__icon {
            a {
                margin: 0px 20px;
                font-size: 26px;
                .icon {
                    font-size: 1.7em;
                    color:greenyellow
                }
            }
        }
    }
}