@import '../variables/variables.scss';

.Navbar {
  width: 100%;
  max-height: 50px;
  height:100%;
  margin: auto;
  background-color: #1C3643;
  .Navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 14px;
    &__logo{
      display: flex;
      align-items: center;
      .Navbar-brand__icon {   
        font-size:map-get($font-size--text, max);
        margin:0px 10px;
        padding:9px 0px;
        color:greenyellow;
        &:hover {
          opacity:0.9;
        }
      }
      .Navbar-brand__name {
        font-size: map-get($font-size--text, min);
      }
    }
    &__profile {
      font-size:map-get($font-size--text, max);
      margin-right:40px;
      padding:9px 0px;
      .Navbar-brand__link {
        .Navbar-brand__fab {
          color:greenyellow;
          margin:0px 10px;
          &:hover {
            opacity:0.8;
          }
        }
      }
      
    }
  }
}
  