$font-size--title: (
    min: 1.7em,
    medium:2em,
    max:2.5em
);
$font-size--text: (
    extra-min:0.8em,
    min:1em,
    medium:1.3em,
    max:1.7em,
);

$font-weight: (
    regular: 400,
    medium: 500,
    bold:700,
    extra-bold:800
);

$font-size--px: (
    min: 10px,
    min+1: 11px,
    min+2:12px,
    medium:13px,
    medium+1:14px,
    medium+2:15px,
    max:16px,
);

//Breakpoint media queries

$phone-width-min: 320px;
$phone-width-medium: 480px;
$phone-width-max:768px;
$tablet-width: 1024px;

//Mixins media queries

@mixin phone-min {
    @media screen and  (max-width:$phone-width-min) and (min-width:0px){
        @content;
    }
};

@mixin phone-max {
    @media screen and (max-width:$phone-width-medium) and (min-width:$phone-width-min){
        @content;
    }
};

@mixin tablet {
    @media screen and (max-width:$phone-width-max) and (min-width:$phone-width-medium){
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width:$tablet-width) and (min-width:$phone-width-max){
        @content;
    }
}

