$font-size--title: (
    min: 1.7em,
    medium:2em,
    max:2.5em
);
$font-size--text: (
    extra-min:0.8em,
    min:1em,
    medium:1.3em,
    max:1.7em,
);

$font-weight: (
    regular: 400,
    medium: 500,
    bold:700,
    extra-bold:800
);