@import '../components/_BackgroundBadge';
@import '../components/_Badge';
@import '../components/_BadgeForm';

.badgeEdit {
    margin-top: 25px;
    .row {
        margin:auto;
    }
    .badgeEdit-row {
        padding:40px 0px;
        &__badge {
            margin: auto;
        }
    }
}