@import '../../variables/_variables.scss';

.Presentation {

    @include phone-min {
        height:auto;
    }
    @include phone-max {
        height:auto;
    }
    @include tablet {
        height:auto;
    }
    @include desktop {
        height:100vh
    }
    &__row {
        @include desktop {
            margin: auto;
        }
        .Presentation-background {
            @include phone-min {
                display: flex;
                justify-content: flex-start;
            }
            @include phone-max {
                display: flex;
                justify-content: flex-start;
            }
            @include tablet {
                display: flex;
                justify-content: center;
            }
            &__img {
                @include phone-min {
                    width: 50%;
                    padding:40px 10px;
                }
                @include phone-max {
                    width: 50%;
                    padding:40px 10px;
                }
                @include tablet {
                    width: 40%;
                    padding:80px 10px;
                }
                @include desktop {
                    width:100%;
                }
            }
        }
        .Presentation-content {
            @include phone-min {
                font-size: map-get($font-size--px, medium);
            }
            @include phone-max {
                font-size: map-get($font-size--px, medium+1);
            }
            @include tablet {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                font-size: map-get($font-size--px, medium+2);
            }
            @include desktop {
                font-size: map-get($font-size--px, medium+2);
            }
            &__title {
                font-weight: map-get($font-weight, extra-bold);
                font-size: map-get($font-size--title, max);
                color:white;
                @include phone-min {
                    font-size:map-get($font-size--title, min);
                }
                @include phone-max {
                    font-size:map-get($font-size--title, min);
                }
                @include tablet {
                    font-size: map-get($font-size--title, medium);
                }
                @include desktop {
                    font-size: map-get($font-size--title, medium);
                }
            }
            &__info {
                @include phone-min {
                    width: 50%;
                    font-size: 9px;
                }
                @include phone-max {
                    width: 50%;
                    padding:5px 0px;
                    font-size: map-get($font-size--px, min);
                }
                @include tablet {
                    width: 50%;
                    padding:30px 0px;
                    text-align: center;
                    font-size: map-get($font-size--px, min+1);
                }
                @include desktop {
                    width: 100%;
                    padding:0px;
                    font-size: map-get($font-size--px, medium);
                }
               .Presentation-content__text {
                    @include phone-min {
                        font-size:map-get($font-size--text, min);
                    }
                    @include phone-max {
                        font-size:map-get($font-size--text, min);
                    }
                    @include tablet {
                        font-size: map-get($font-size--text, medium);
                    }
                    @include desktop {
                        font-size: map-get($font-size--text, medium);
                    }
                }
                .Presentation-content__btn{
                    @include phone-min {
                        font-size:map-get($font-size--text, min);
                    }
                    @include phone-max {
                        font-size:map-get($font-size--text, min);
                    }
                    @include tablet {
                        font-size: map-get($font-size--text, medium);
                    }
                    @include desktop {
                        font-size: map-get($font-size--text, medium);
                    }
                }
            }
        }
        .Presentation-recents {
            @include phone-min {
                padding:20px 10px;
                font-size: map-get($font-size--px, min);
            }
            @include phone-max {
                padding:20px 10px;
                font-size: map-get($font-size--px, min+1);
            }
            @include tablet {
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: map-get($font-size--px, min+2);
            }
            @include desktop {
                display: flex;
                flex-direction: column;
                text-align: start;
                font-size: map-get($font-size--px, min+2);
            }
            &__link {
                @include tablet {
                    display:flex;
                    justify-content: center;
                    width:100%;
                }
            }
            &__title{
                @include phone-min {
                    font-size: map-get($font-size--text, medium);
                }
                @include phone-max {
                    font-size: map-get($font-size--text, medium);
                }
                @include tablet {
                    font-size: map-get($font-size--title, min);
                }
                @include desktop {
                    font-size: map-get($font-size--title, min);
                }
            }
            .Card {
                &__img {
                    .Card__avatar {
                        @include phone-min {
                            width:60%;
                        }
                        @include phone-max {
                            width:60%;
                        }
                        @include tablet {
                            width:80%;
                        }
                        @include desktop {
                            width:80%;
                        }
                    }
                }
                &__info {
                    @include phone-min {
                        font-size: map-get($font-size--px, medium);
                    }
                    @include phone-max {
                        font-size: map-get($font-size--px, medium+1);
                    }
                    @include tablet {
                        font-size: map-get($font-size--px, medium+2);
                    }
                    @include desktop {
                        font-size: map-get($font-size--px, medium+2);
                    }
                    .Card__title-primary {
                        @include phone-min {
                            font-size:map-get($font-size--text, medium);
                        }
                        @include phone-max {
                            font-size:map-get($font-size--text, medium);
                        }
                        @include tablet {
                            font-size: map-get($font-size--title, min);
                        }
                        @include desktop {
                            font-size: map-get($font-size--title, min);
                        }
                    }
                    .Card__title-secondary{
                        @include phone-min {
                            font-size:map-get($font-size--text, min);
                        }
                        @include phone-max {
                            font-size:map-get($font-size--text, min);
                        }
                        @include tablet {
                            font-size: map-get($font-size--text, medium);
                        }
                        @include desktop {
                            font-size: map-get($font-size--text, medium);
                        }
                    }
                    .Card__text {
                        @include phone-min {
                            font-size:map-get($font-size--text, extra-min);
                        }
                        @include phone-max {
                            font-size:map-get($font-size--text, extra-min);
                        }
                        @include tablet {
                            font-size: map-get($font-size--text, min);
                        }
                        @include desktop {
                            font-size: map-get($font-size--text, min);
                        }
                    }
                }
            }
        }
    }    
}