@import '../variables/_variables.scss';

.Badge-presentation {
    @include phone-min {
        font-size: map-get($font-size--px, medium+1);
    }
    @include phone-max {
        font-size: map-get($font-size--px, medium+2);
    }
    @include tablet {
        font-size: map-get($font-size--px, medium+2);
    }
    @include desktop {
        font-size: map-get($font-size--px, max);
    }
    &__title {
        @include phone-min {
            font-size: map-get($font-size--text, medium);
        }
        @include phone-max {
            font-size: map-get($font-size--text, medium);
        }
        @include tablet {
            font-size: map-get($font-size--text, max);
        }
        @include desktop {
            font-size: map-get($font-size--text, max);
        }
    }
}

.Badge-form {
    &__block {
        @include phone-min {
            font-size: map-get($font-size--px, min);
        }
        @include phone-max {
            font-size: map-get($font-size--px, min+1);
        }
        @include tablet {
            font-size: map-get($font-size--px, min+2);
        }
        @include desktop {
            font-size: map-get($font-size--px, medium);
        }
        .Badge-form__label {
            @include phone-min {
                font-size: map-get($font-size--text, min);
            }
            @include phone-max {
                font-size: map-get($font-size--text, min);
            }
            @include tablet {
                font-size: map-get($font-size--text, medium);
            }
            @include desktop {
                font-size: map-get($font-size--text, medium)
            }
        }
        .Badge-form__input {
            @include phone-min {
                font-size: map-get($font-size--text, extra-min);
            }
            @include phone-max {
                font-size: map-get($font-size--text, extra-min);
            }
            @include tablet {
                font-size: map-get($font-size--text, min);
            }
            @include desktop {
                font-size: map-get($font-size--text, min);
            }
        }
    }
    &__block {
        @include phone-min {
            font-size: map-get($font-size--px, min);
        }
        @include phone-max {
            font-size: map-get($font-size--px, min+1);
        }
        @include tablet {
            font-size: map-get($font-size--px, min+2);
        }
        @include desktop {
            font-size: map-get($font-size--px, medium);
        }
        .Badge-form__button {
            @include phone-min {
                font-size: map-get($font-size--text, min);
            }
            @include phone-max {
                font-size: map-get($font-size--text, min);
            }
            @include tablet {
                font-size: map-get($font-size--text, medium);
            }
            @include desktop {
                font-size: map-get($font-size--text, medium);
            }
        }
    }
}