@import '../variables/variables.scss';

.BackgroundBadge {
    .BackgroundBadge-row {
        &__info {
            @media screen and(max-width:320px) and (min-width:0px) {
                font-size: 14px;
            }
            @media screen and(max-width:480px) and (min-width:320px) {
                font-size: 15px;
            }
            @media screen and(max-width:768px) and (min-width:480px) {
                font-size: 15px;
            }
            @media screen and (max-width:1024px) and (min-width:768px){
                font-size:16px;
            }
            .BackgroundBadge-row__title{
                @media screen and(max-width:320px) and (min-width:0px) {
                    font-size: map-get($font-size--text, medium);
                }
                @media screen and(max-width:480px) and (min-width:320px) {
                    font-size: map-get($font-size--text, medium);
                }
                @media screen and(max-width:768px) and (min-width:480px) {
                    font-size: map-get($font-size--text, max);
                }
                @media screen and (max-width:1024px) and (min-width:768px){
                    font-size:map-get($font-size--text, max);
                }
            }
        }
    }
}