@import '../variables/variables.scss';


.Badge{
    &__row {
        .Badge-body {
            &__background {
                .Badge-body__img {
                    @media screen and (max-width:320px) and (min-width:0px){
                        width:30%;
                    }
                    @media screen and (max-width:480px) and (min-width:320px){
                        width:30%;
                    }
                    @media screen and (max-width:768px) and (min-width:480px){
                        width:30%;
                    }
                    @media screen and (max-width:1024px) and (min-width:768px) {
                       width:100%; 
                    }
                }
        
            }
            &__email {
                @media screen and (max-width:320px)and (min-width:0px){
                    font-size: 11px;
                }
                @media screen and (max-width:480px)and (min-width:320px){
                    font-size: 12px;
                }
                @media screen and (max-width:768px)and (min-width:480px){
                    font-size: 13px;
                }
                @media screen and (max-width:1024px) and (min-width:768px) {
                    font-size: 15px;

                }
                .Badge-body__avatar {
                    @media screen and (max-width:320px)and (min-width:0px){
                        width:30%;
                    }
                    @media screen and (max-width:480px)and (min-width:320px){
                        width:30%;
                    }
                    @media screen and (max-width:768px)and (min-width:480px){
                        width:30%;
                    }
                    @media screen and (max-width:1024px) and (min-width:768px) {
                        width:35%; 
                    }
                }
                .Badge-body__title {
                    @media screen and (max-width:320px) and (min-width:0px){
                        font-size:map-get($font-size--text, medium);
                    }
                    @media screen and (max-width:480px) and (min-width:320px){
                        font-size:map-get($font-size--text, medium);
                    }
                    @media screen and (max-width:768px) and (min-width:480px){
                        font-size:map-get($font-size--text, max);
                    }
                    @media screen and (max-width:1024px) and (min-width:768px) {
                        font-size:map-get($font-size--text, max);
                    }
                }
        
            }
            .Badge-body__profesion {
                @media screen and (max-width:320px) and (min-width:0px){
                    font-size:10px;
                }
                @media screen and (max-width:480px) and (min-width:320px){
                    font-size:11px;
                }
                @media screen and (max-width:768px) and (min-width:480px){
                    font-size: 12px;
                }
                @media screen and (max-width:1024px) and (min-width:768px) {
                    font-size:12px;
                }
                .Badge-body__text {
                    @media screen and (max-width:320px) and (min-width:0px){
                        font-size:map-get($font-size--text, min);
                    }
                    @media screen and (max-width:480px) and (min-width:320px){
                        font-size:map-get($font-size--text, min);
                    }
                    @media screen and (max-width:768px) and (min-width:480px){
                        font-size:map-get($font-size--text, medium);
                    }
                    @media screen and (max-width:1024px) and (min-width:768px) {
                        font-size:map-get($font-size--text, medium);
                    }
                }
                .Badge-body__span {
                    @media screen and (max-width:320px) and (min-width:0px){
                        font-size:map-get($font-size--text, extra-min);
                    }
                    @media screen and (max-width:480px) and (min-width:320px){
                        font-size:map-get($font-size--text, extra-min);
                    }
                    @media screen and (max-width:768px) and (min-width:480px){
                        font-size:map-get($font-size--text, min);
                    }
                    @media screen and (max-width:1024px) and (min-width:768px){
                        font-size:map-get($font-size--text, min);
                    }
                }
        
            }
            .Badge-body__platziConf {
                @media screen and (max-width:320px) and (min-width:0px){
                    font-size:10px;
                }
                @media screen and (max-width:480px) and (min-width:321px){
                    font-size:11px;
                }
                @media screen and (max-width:768px) and (min-width:480px){
                    font-size:12px;
                }
                @media screen and (max-width:1024px) and (min-width:768px){
                    font-size:12px;
                }
                .Badge-body__text {
                    @media screen and (max-width:320px) and (min-width:0px){
                        font-size:map-get($font-size--text, extra-min);
                    }
                    @media screen and (max-width:480px) and (min-width:321px){
                        font-size:map-get($font-size--text, extra-min);
                    }
                    @media screen and (max-width:768px) and (min-width:480px){
                        font-size:map-get($font-size--text, min);
                    }
                    @media screen and (max-width:1024px) and (min-width:768px){
                        font-size:map-get($font-size--text, min);
                    }
                }
            }
        }
    }
}